{% extends "base.html" %}

{% block nav %}
<ul id="nav-mobile" class="side-nav fixed">
            <li>
                <div class="userView">
                    <a class="name blue-grey-text text-darken-4 center" href="/event/{{ event.eid }}">{{ event.name }}</a>
                </div>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">Challenges<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                            {% with chals = get_chals(event.eid) %}
                            {% if chals %}
                            {% for row in chals %}
                                {% for chal in row %}
                                <li><a href="/challenge/{{ chal.cid }}">{{ chal.name }}</a></li>
                                {% endfor %}
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">Category eventually<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#!">First</a></li>
                                <li><a href="#!">Second</a></li>
                                <li><a href="#!">Third</a></li>
                                <li><a href="#!">Fourth</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
{% endblock %}