<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Vexillum</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css" />
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    {% block style %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="navbar-fixed">
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a class="clip" id="invitett" data-clipboard-text=""><i class="material-icons">content_copy</i><span id="ddtext"></span></a></li>
        </ul>
            <nav>
                <div class="nav-wrapper blue-grey">
                    <a href="/" class="brand-logo center">Vexillum</a>
                    <a href="#" data-activates="mobile-menu" class="button-collapse right"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                    {% if session.username is defined %}
                        <li><a class="dropdown-button" id='invitedd' data-alignment='right' data-beloworigin="true" data-constrainwidth="false" data-activates="dropdown1">Invite<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a href="/profile">{{ session.username }}</a></li>
                        {% if session.admin is defined %}
                        {% if session.admin==True %}
                        <li><a href="/admin">Admin</a></li>
                        {% endif %}
                        {% endif %}
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                    </ul>
                    <ul class="side-nav" id="mobile-menu">
                    {% if session.username is defined %}
                        <li><a href="/profile">{{ session.username }}</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        {% block nav%}
        {% endblock %}
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons medium">menu</i></a>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer class="page-footer blue-grey">
        <div class="footer-copyright">
            <div class="container">
                &copy;Vexillum 2017 | Made with <a class="blue-grey-text text-darken-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>    
    <script src="/static/js/init.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    $(function() {
        new Clipboard('.clip');
        $('#invitedd')
            .on('click', function(){
                $.get('/invite', function (response) {
                    var token = response;
                    $('.clip').attr('data-clipboard-text', token);
                    $('#invitett').attr('data-clipboard-text', token);
                    $('#ddtext').html(token);
                });
            });
    });
    </script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
