{% extends "alt.html" %}

{% block content %}
    <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a data-target="modal1" class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a data-target="modal2" class="btn-floating green"><i class="material-icons">code</i></a></li>
      <li><a data-target="modal3" class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card small z-depth-5">
                <div class="card-content">
                    <span class="card-title">{{ chal.name }}</span>
                    <div class="divider"></div>
                    <p>{{ chal.description }}</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            {% with entries = get_entries(chal.cid) %}
            {% if entries %}
            <ul class="collapsible" data-collapsible="accordion">
                {% for e in entries %}
                  {% if e.type==0 %}
                  <li>
                      <div class="collapsible-header"><i class="material-icons">format_quote</i>&lt;username&gt; - {{ e.name }} - {{ e.added }}</div>
                      <div class="collapsible-body"><span>{{ e.content }}</span></div>
                  </li>
                  {% elif e.type==1 %}
                  <li>
                      <div class="collapsible-header"><i class="material-icons">code</i>&lt;username&gt; - {{ e.name }} - {{ e.added }}</div>
                      <div class="collapsible-body">
                                <pre>
                                  <code>{{ e.content }}</code>
                                </pre>
                      </div>
                  </li>
                  {% elif e.type==2 %}
                  <li>
                      <div class="collapsible-header"><i class="material-icons">attach_file</i>&lt;username&gt; - {{ e.name }} - {{ e.added }}</div>
                      <div class="collapsible-body">
                          <span>Challenge file relating to research of topic</span>
                          <div class="right">
                              <a class="btn blue" href="/static/uploads/{{ e.location }}">
                                <i class="material-icons">attach_file</i>
                              </a>
                          </div>
                      </div>
                  </li>
                  {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="row">
        {% with files = get_files(chal.cid) %}
        {% for file in files%}
        <div class="col s12 m6 l2">
            <a href="/static/uploads/{{ file.location }}">
                <div class="card z-depth-5">
                    <div class="card-content">
                        <span class="card-title">{{ file.location }}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
    <div id="modal1" class="modal modal-fixed-footer">
        <form action="/new_entry" method="POST">
            <div class="modal-content">
                <h4>Add a Comment</h4>
                <div class="row">
                        
                  <div class="row">
                    <input type="hidden" name="cid" value="{{ chal.cid }}">
                    <input type="hidden" name="type" value="0">
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">mode_edit</i>
                          <input id="icon_prefix" type="text" class="validate" name="name" required>
                          <label for="icon_prefix">Comment Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea" name="description" required></textarea>
                            <label for="textarea1">Description</label>
                        </div>
                      </div>
                  </div>
                
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <div id="modal2" class="modal modal-fixed-footer">
        <form action="/new_entry" method="POST">
            <div class="modal-content">
                <h4>Add Code</h4>
                <div class="row">
                        
                  <div class="row">
                    <input type="hidden" name="cid" value="{{ chal.cid }}">
                    <input type="hidden" name="type" value="1">
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">mode_edit</i>
                          <input id="icon_prefix" type="text" class="validate" name="name" required>
                          <label for="icon_prefix">Code Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea" name="description" required></textarea>
                            <label for="textarea1">Code</label>
                        </div>
                      </div>
                  </div>
                
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <div id="modal3" class="modal modal-fixed-footer">
        <form action="/new_entry" enctype="multipart/form-data" method="POST">
            <div class="modal-content">
                <h4>Add A File</h4>
                <div class="row">
                  <div class="row">
                    <input type="hidden" name="cid" value="{{ chal.cid }}">
                    <input type="hidden" name="type" value="2">
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">mode_edit</i>
                          <input id="icon_prefix" type="text" class="validate" name="name" required>
                          <label for="icon_prefix">File Name</lab_el>
                        </div>
                      </div>
                      <div class="row">
                        <div class="file-field input-field">
                          <div class="btn">
                            <span>File</span>
                            <input type="file" name="file" required>
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" >
                          </div>
                        </div>
                      </div>
                  </div>
                
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}