{% extends "main.html" %}

{% block content %}
  <div>
    <h3 class="page-title" style="margin-left: 2%; float: left; margin-bottom: 0px;">{{ team_name() }}</h3>
    <h3 class="page-title right" style="margin-right: 2%; float: right; margin-bottom: 0px;">Global Rank: 999</h3>
  </div>
  <div class="row" style="margin-bottom: 0px;"></div>
  <div class="divider"></div>

  <div class="row">
    <h4 class="center">Current CTFs</h4>
    {% with events = get_current_events() %}
    {% if events %}
     <div class="row">
        {% for event in events %}
        <div class="col s12 m6 l3">
            <div class="card z-depth-1" style="">
                <div class="card-content">
                    <span class="card-title">{{ event["name"] }}</span>
                </div>
                <div class="card-action center">
                  <form action="/working" method="POST">
                    <a class="teal-text lighten-1" href="/event/{{ event.eid }}">View</a>
                  </form>
                </div> 
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <div class="divider"></div>

  <div class="row">
    <div class="col s12 m12 l6">
      <h4 class="center">Past CTFs</h4>
      {% with events = get_past_events() %}
      {% if events %}
          <div class="collection z-depth-1">
          {% for event in events %}
              <a href="/event/{{ event.eid }}" class="collection-item"><span class="badge">1st Place</span>{{ event["name"] }}</a>
          {% endfor %}
          </div>
      {% endif %}
      {% endwith %}
    </div>
    <div class="col s12 m12 l6">
      <h4 class="center">Upcoming CTFs</h4>
      {% with events = upcoming_events() %}
      {% if events %}
          <ul class="collection z-depth-1">
          {% for row in events %}
          {% for event in row %}
            <li class="collection-item">
              <div>{{ event["name"] }}
                <a href="{{ event['url'] }}" target="_blank" class="secondary-content">
                  <i class="material-icons">languages</i>
                </a>
                <a href="" class="secondary-content" data-target="modal2">
                  <i class="material-icons">add</i>
                </a>
              </div>
            </li>
          {% endfor %}
          {% endfor %}
          </ul>
      {% endif %}
      {% endwith %}
    </div>
  </div>


    <div data-target="modal1" class="fixed-action-btn tooltipped" data-position="top" data-tooltip="Create Event">
        <a class="btn-floating btn-large waves-effect waves-light red z-depth-1"><i class="material-icons">add</i></a>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <form action="/new_event" method="POST">
            <div class="modal-content">
                <h4>Create An Event</h4>
                <div class="row">
                        
                    <div class="row">
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">mode_edit</i>
                          <input id="icon_prefix" type="text" class="validate" name="name" required>
                          <label for="icon_prefix">Event Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">language</i>
                          <input id="icon_prefix" type="text" class="validate" name="url" required>
                          <label for="icon_prefix">URL</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="material-icons prefix">play_arrow</i>
                          <input id="icon_prefix" type="datetime-local" class="validate" name="start" required>
                          <label for="icon_prefix"></label>
                        </div>
                        <div class="input-field col s6">
                          <i class="material-icons prefix">stop</i>
                          <input id="icon_telephone" type="datetime-local" class="validate" name="end" required>
                          <label for="icon_telephone"></label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="material-icons prefix">account_circle</i>
                          <input id="icon_prefix" type="text" class="validate" name="login" required>
                          <label for="icon_prefix">Login</label>
                        </div>
                        <div class="input-field col s6">
                          <i class="material-icons prefix">vpn_key</i>
                          <input id="icon_telephone" type="text" class="validate" name="password" required>
                          <label for="icon_telephone">Password</label>
                        </div>
                      </div>
                    </div>
                
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
<div id="modal2" class="modal modal-fixed-footer">
        <form action="/new_event" method="POST">
            <div class="modal-content">
                <h4>Create An Event</h4>
                <div class="row">
                        
                    <div class="row">
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">mode_edit</i>
                          <input id="icon_prefix" type="text" class="validate" name="name" required>
                          <label for="icon_prefix">Event Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">language</i>
                          <input id="icon_prefix" type="text" class="validate" name="url" required>
                          <label for="icon_prefix">URL</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="material-icons prefix">play_arrow</i>
                          <input id="icon_prefix" type="datetime-local" class="validate" name="start" required>
                          <label for="icon_prefix"></label>
                        </div>
                        <div class="input-field col s6">
                          <i class="material-icons prefix">stop</i>
                          <input id="icon_telephone" type="datetime-local" class="validate" name="end" required>
                          <label for="icon_telephone"></label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="material-icons prefix">account_circle</i>
                          <input id="icon_prefix" type="text" class="validate" name="login" required>
                          <label for="icon_prefix">Login</label>
                        </div>
                        <div class="input-field col s6">
                          <i class="material-icons prefix">vpn_key</i>
                          <input id="icon_telephone" type="text" class="validate" name="password" required>
                          <label for="icon_telephone">Password</label>
                        </div>
                      </div>
                    </div>
                
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}


{% block scripts %}
<script>
$(function() {
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      Materialize.toast('{{ message }}', 4000);
    {% endfor %}
  {% endif %}
{% endwith %}
});
</script>
{% endblock %}
